v op
v num1
v num2
< "What num1?
> num1
< "What num2?
> num2
< "What op?
> op
= op|+ + num1|num2
= op|- - num1|num2
= op|* * num1|num2
= op|/ / num1|num2
< num1